In [1]:
import pandas as pd
import glob
import re

In [2]:
pd.options.display.float_format = '{:.1f}'.format

In [3]:
path = r'E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\*'
files = glob.glob(path)

## Files Used:

In [4]:
for f in files:
    print(f)

E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\00-Prod_Metal_001.xlsx
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\ARQUIVO-RUFATO-29-11-2022-HR12-00.TXT
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\Arquivo_Compel-29-11-22.csv
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\Estoque Carbwel 20 10 22 Karhub.xls
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\Estoque IMA CONEXÃO 29.11.2022.xlsx
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\Estoque real 29 11.csv
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\estoque_jahu_20221129.csv
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\medauto_stock_220916.xlsx
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\MTE_ESTOQUE_INTERNET-2.XLSX
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\NISSI - LISTA DE PREÇO KARHUB.xls
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\paccini_stock_220909.xlsx
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\polipecas_stock_220919.xlsx
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\Relatorio-lucios.xls
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\Sueyasu - 27-09-22.xlsx

In [28]:
df = pd.read_csv('../data/merged_database/combined.csv' , index_col=0)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3172: DtypeWarning: Columns (3,4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
df['Price'] = df['Price'].astype(str)

In [7]:
df['Price'] = df['Price'].apply(lambda x: x.replace(',','.'))

In [8]:
df['Price'] = pd.to_numeric(df['Price'],errors='coerce')

In [9]:
df['Quantity'] = pd.to_numeric(df['Quantity'],errors='coerce')

## Unique Manufacturers:

In [10]:
df.Manufacturer.nunique()

1091

## Unique Partnumbers:

In [11]:
df.Partnumber.nunique()

92126

## Total Price (some prices have more than two decimal digits in the database):

In [12]:
print('R$' + str(df.Price.sum()))

R$19762261.17732797

## The Total Price by manufacturer is a long table. So its better to download as excel file:

In [17]:
(df.groupby('Manufacturer')['Price'].sum()).to_excel('../data/raw_analysis/price_by_manufacturer.xlsx')

## Total Price by supplier:

In [18]:
df.groupby('supplier')['Price'].sum()

supplier
carbwel     1680782.8
compel      2745651.2
ima               0.0
jahu         225570.8
lucios      1794224.2
medauto     1657916.9
metal       3365971.3
mte          143034.1
polipecas    196279.1
real        1486255.7
rufato      5497915.2
sueyasu      968659.6
Name: Price, dtype: float64

## Total quantity:

In [19]:
df.Quantity.sum()

2549512.0

## The Total Quantity by manufacturer is a long table. So its better to download as excel file:

In [20]:
df.groupby('Manufacturer')['Quantity'].sum().to_excel('../data/raw_analysis/quantity_by_manufacturer.xlsx')

## Total Quantity by supplier:

In [21]:
df.groupby('supplier')['Quantity'].sum()

supplier
carbwel       62908.0
compel            0.0
ima           25320.0
jahu           5120.0
lucios       326974.0
medauto       70131.0
metal         31313.0
mte           11084.0
polipecas         0.0
real              0.0
rufato      1952404.0
sueyasu       64258.0
Name: Quantity, dtype: float64

## Sum of zero quantity:

In [22]:
df.Quantity[df.Quantity==0.0].count()

4028

## The Total zero Quantity by manufacturer is a long table. So its better to download as excel file:

In [23]:
df[df.Quantity==0.0].groupby('Manufacturer')['Quantity'].count().to_excel('../data/raw_analysis/quantity_zero_by_manufacturer.xlsx')

## Total zero Quantity by supplier:

In [24]:
df[df.Quantity==0.0].groupby('supplier')['Quantity'].count()

supplier
carbwel      50
ima         314
jahu        617
lucios     2354
rufato       10
sueyasu     683
Name: Quantity, dtype: int64

## Sum of zero Price:

In [25]:
df.Price[df.Price==0.0].count()

6667

## The Total zero Price by manufacturer is a long table. So its better to download as excel file:

In [26]:
df[df.Price==0.0].groupby('Manufacturer')['Price'].count().to_excel('../data/raw_analysis/price_zero_by_manufacturer.xlsx')

## Total zero Price by supplier:

In [27]:
df[df.Price==0.0].groupby('supplier')['Price'].count()

supplier
compel     2141
metal       835
real       3678
sueyasu      13
Name: Price, dtype: int64

## Quantity in blank:

### Note: for the all the blank analysis the aggregation (manufacturer, supplier) doesn't show the same count as there is blank values in both columns

for this i'm using the original dataframe without the transformation of the data to numeric

In [29]:
df2 = pd.read_csv('../data/merged_database/combined.csv'  , index_col=0)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3172: DtypeWarning: Columns (3,4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [30]:
df2.Quantity.isna().sum()

4546

## The blank zero Quantity by manufacturer is a long table. So its better to download as excel file:

In [31]:
df2[df2.Quantity.isna()==True].groupby('Manufacturer')['Manufacturer'].count().to_excel('../data/raw_analysis/quantity_blank_by_manufacturer.xlsx')

## Total Blank Quantity by supplier:

In [32]:
df2[df2.Quantity.isna()==True].groupby('supplier')['supplier'].count()

supplier
ima             5
polipecas     863
real         3678
Name: supplier, dtype: int64

## Price in blank:

for this i'm using the original dataframe without the transformation of the data to numeric

In [33]:
df2.Price.isna().sum()

1667

## Blank zero Price by manufacturer :

In [34]:
df2[df2.Price.isna()==True].groupby('Manufacturer')['Manufacturer'].count()

Manufacturer
BOSCH       9
ima      1658
Name: Manufacturer, dtype: int64

## Total Blank Price by supplier:

In [35]:
df2[df2.Price.isna()==True].groupby('supplier')['supplier'].count()

supplier
ima          1658
polipecas       9
Name: supplier, dtype: int64

## Manufacturer in blank:

for this i'm using the original dataframe without the transformation of the data to numeric

In [36]:
df2.Manufacturer.isna().sum()

133

## Total Blank Manufacturer by supplier:

In [37]:
df2[df2.Manufacturer.isna()==True].groupby('supplier')['supplier'].count()

supplier
compel    96
metal     37
Name: supplier, dtype: int64

## Partnumber in blank:

for this i'm using the original dataframe without the transformation of the data to numeric

In [38]:
df2.Partnumber.isna().sum()

1136

## Blank zero Partnumber by manufacturer :

In [39]:
df2[df2.Partnumber.isna()==True].groupby('Manufacturer')['Manufacturer'].count()

Manufacturer
 METAL                                 2
+METAL - QUALIDADE ORIGINAL 9164       1
ARTEB                                  9
BOSCH                                  9
DEFABRI                                1
DYNA                                   1
FORA DE LINHA                          4
JAHU PLACA PRETA                    1067
RF                                     8
ZZLIXEIRA                              4
Name: Manufacturer, dtype: int64

## Total Blank Price by supplier:

In [40]:
df2[df2.Partnumber.isna()==True].groupby('supplier')['supplier'].count()

supplier
jahu         1067
metal          38
polipecas       9
rufato         22
Name: supplier, dtype: int64

## Quantity of strings in the field:

In [41]:
print( 'Price: ' +  str(df2["Price"].apply(type).value_counts()[0]) + ' of ' + str(len(df2.Price)))
print( 'Quantity: ' +  str(df2["Quantity"].apply(type).value_counts()[0]) + ' of ' + str(len(df2.Quantity)))

Price: 129405 of 137406
Quantity: 126526 of 137406