In [1]:
import pandas as pd
import glob
import re

In [2]:
pd.options.display.float_format = '{:.1f}'.format

In [3]:
path = r'E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\*'
files = glob.glob(path)

## Files Used:

In [4]:
for f in files:
    print(f)

E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\00-Prod_Metal_001.xlsx
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\2022-03-01 - Lista de Preços IMA - 03-2022 - GERAL.XLSX
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\ARQUIVO-RUFATO-29-11-2022-HR12-00.TXT
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\Arquivo_Compel-29-11-22.csv
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\Estoque Carbwel 20 10 22 Karhub.xls
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\Estoque real 29 11.csv
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\estoque_jahu_20221129.csv
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\medauto_stock_220916.xlsx
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\MTE_ESTOQUE_INTERNET-2.XLSX
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\NISSI - LISTA DE PREÇO KARHUB.xls
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\paccini_stock_220909.xlsx
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\polipecas_stock_220919.xlsx
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\Relatorio-lucios.xls
E:\Dropbox\Pessoal\Python\trabalho\Upwork\New-stock-system\data\originals\Sueyasu - 27-09-22.xlsx

In [5]:
df = pd.read_csv('../data/merged_database/combined.csv' , index_col=0)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3172: DtypeWarning: Columns (3,4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
df['Price'] = df['Price'].astype(str)

In [7]:
df['Price'] = df['Price'].apply(lambda x: x.replace(',','.'))

In [8]:
df['Price'] = pd.to_numeric(df['Price'],errors='coerce')

In [9]:
df['Quantity'] = pd.to_numeric(df['Quantity'],errors='coerce')

## Total unique Manufacturers:

In [10]:
df.Manufacturer.nunique()

1121

## Manufacturers by suppliers

In [11]:
df.groupby('supplier')['Manufacturer'].count()

supplier
carbwel      15906
compel       21346
ima           1641
jahu          1806
lucios       16408
medauto       7494
metal        31276
mte           1309
polipecas      863
real         15116
rufato       18211
sueyasu       5880
Name: Manufacturer, dtype: int64

## total unique manufacturers by supplier

In [12]:
df.groupby('supplier')['Manufacturer'].nunique()

supplier
carbwel      287
compel        62
ima            1
jahu           3
lucios       122
medauto      273
metal        349
mte            1
polipecas      1
real          79
rufato        78
sueyasu       20
Name: Manufacturer, dtype: int64

## Unique manufacturer names:

In [13]:
pd.DataFrame(df.Manufacturer.unique()).to_excel('../data/raw_analysis/unique_manufacturer.xlsx')
#Save with timestamp
pd.DataFrame(df.Manufacturer.unique()).to_csv('../data/text_output/unique_manufacturer_{}.txt'.format(pd.datetime.now().strftime("%Y-%m-%d %H-%M-%S")))

C:\Users\eppmi\AppData\Local\Temp/ipykernel_11340/2636660214.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  pd.DataFrame(df.Manufacturer.unique()).to_csv('../data/text_output/unique_manufacturer_{}.txt'.format(pd.datetime.now().strftime("%Y-%m-%d %H-%M-%S")))

## Unique Partnumbers:

In [14]:
df.Partnumber.nunique()

94105

## Partnumbers by Manufacturer

In [15]:
df.groupby('Manufacturer')['Partnumber'].count().to_excel('../data/raw_analysis/patnumber_by_manufacturer.xlsx')
df.groupby('Manufacturer')['Partnumber'].count().to_csv('../data/text_output/patnumber_by_manufacturer_{}.txt'.format(pd.datetime.now().strftime("%Y-%m-%d %H-%M-%S")))

C:\Users\eppmi\AppData\Local\Temp/ipykernel_11340/200285902.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  df.groupby('Manufacturer')['Partnumber'].count().to_csv('../data/text_output/patnumber_by_manufacturer_{}.txt'.format(pd.datetime.now().strftime("%Y-%m-%d %H-%M-%S")))

## Partnumbers by supplier

In [16]:
df.groupby('supplier')['Partnumber'].count()

supplier
carbwel      15906
compel       21442
ima           1641
jahu          1806
lucios       16408
medauto       7494
metal        31275
mte           1309
polipecas      854
real         15116
rufato       18189
sueyasu       5880
Name: Partnumber, dtype: int64

## total unique partnumbers by manufacturer is a long table. So its better to download as excel file:

In [17]:
df.groupby('Manufacturer')['Partnumber'].nunique().to_excel('../data/raw_analysis/unique_partnumbers__manufacturer.xlsx')
#Save with timestamp
df.groupby('Manufacturer')['Partnumber'].nunique().to_csv('../data/text_output/unique_partnumbers__manufacturer_{}.txt'.format(pd.datetime.now().strftime("%Y-%m-%d %H-%M-%S")))

C:\Users\eppmi\AppData\Local\Temp/ipykernel_11340/2301278755.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  df.groupby('Manufacturer')['Partnumber'].nunique().to_csv('../data/text_output/unique_partnumbers__manufacturer_{}.txt'.format(pd.datetime.now().strftime("%Y-%m-%d %H-%M-%S")))

## Total Price (some prices have more than two decimal digits in the database):

In [18]:
print('R$' + str(df.Price.sum()))

R$20690149.308336113

## The Total Price by manufacturer is a long table. So its better to download as excel file:

In [19]:
(df.groupby('Manufacturer')['Price'].sum()).to_excel('../data/raw_analysis/price_by_manufacturer.xlsx')
#Save with timestamp
(df.groupby('Manufacturer')['Price'].sum()).to_csv('../data/text_output/price_by_manufacturer_{}.txt'.format(pd.datetime.now().strftime("%Y-%m-%d %H-%M-%S")))

C:\Users\eppmi\AppData\Local\Temp/ipykernel_11340/3254780765.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  (df.groupby('Manufacturer')['Price'].sum()).to_csv('../data/text_output/price_by_manufacturer_{}.txt'.format(pd.datetime.now().strftime("%Y-%m-%d %H-%M-%S")))

## Total Price by supplier:

In [20]:
df.groupby('supplier')['Price'].sum()

supplier
carbwel     1680782.8
compel      2745651.2
ima          285150.1
jahu         225570.8
lucios      1794224.2
medauto     1657916.9
metal       3365971.3
mte          143034.1
polipecas    196279.1
real        2128993.7
rufato      5497915.2
sueyasu      968659.6
Name: Price, dtype: float64

## Total quantity:

In [21]:
df.Quantity.sum()

2746168.0

## The Total Quantity by manufacturer is a long table. So its better to download as excel file:

In [22]:
df.groupby('Manufacturer')['Quantity'].sum().to_excel('../data/raw_analysis/quantity_by_manufacturer.xlsx')
#Save with timestamp
df.groupby('Manufacturer')['Quantity'].sum().to_csv('../data/text_output/quantity_by_manufacturer_{}.txt'.format(pd.datetime.now().strftime("%Y-%m-%d %H-%M-%S")))

C:\Users\eppmi\AppData\Local\Temp/ipykernel_11340/1197361742.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  df.groupby('Manufacturer')['Quantity'].sum().to_csv('../data/text_output/quantity_by_manufacturer_{}.txt'.format(pd.datetime.now().strftime("%Y-%m-%d %H-%M-%S")))

## Total Quantity by supplier:

In [23]:
df.groupby('supplier')['Quantity'].sum()

supplier
carbwel       62908.0
compel            0.0
ima            2567.0
jahu           5120.0
lucios       326974.0
medauto       70131.0
metal         31313.0
mte           11084.0
polipecas         0.0
real         219409.0
rufato      1952404.0
sueyasu       64258.0
Name: Quantity, dtype: float64

## Sum of zero quantity:

In [24]:
df.Quantity[df.Quantity==0.0].count()

3717

## The Total zero Quantity by manufacturer is a long table. So its better to download as excel file:

In [25]:
df[df.Quantity==0.0].groupby('Manufacturer')['Quantity'].count().to_excel('../data/raw_analysis/quantity_zero_by_manufacturer.xlsx')
#Save with timestamp
df[df.Quantity==0.0].groupby('Manufacturer')['Quantity'].count().to_csv('../data/text_output/quantity_zero_by_manufacturer_{}.txt'.format(pd.datetime.now().strftime("%Y-%m-%d %H-%M-%S")))

C:\Users\eppmi\AppData\Local\Temp/ipykernel_11340/775570495.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  df[df.Quantity==0.0].groupby('Manufacturer')['Quantity'].count().to_csv('../data/text_output/quantity_zero_by_manufacturer_{}.txt'.format(pd.datetime.now().strftime("%Y-%m-%d %H-%M-%S")))

## Total zero Quantity by supplier:

In [26]:
df[df.Quantity==0.0].groupby('supplier')['Quantity'].count()

supplier
carbwel      50
jahu        617
lucios     2354
real          3
rufato       10
sueyasu     683
Name: Quantity, dtype: int64

## Sum of zero Price:

In [27]:
df.Price[df.Price==0.0].count()

2989

## The Total zero Price by manufacturer is a long table. So its better to download as excel file:

In [28]:
df[df.Price==0.0].groupby('Manufacturer')['Price'].count().to_excel('../data/raw_analysis/price_zero_by_manufacturer.xlsx')
#Save with timestamp
df[df.Price==0.0].groupby('Manufacturer')['Price'].count().to_csv('../data/text_output/price_zero_by_manufacturer_{}.txt'.format(pd.datetime.now().strftime("%Y-%m-%d %H-%M-%S")))

C:\Users\eppmi\AppData\Local\Temp/ipykernel_11340/808653483.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  df[df.Price==0.0].groupby('Manufacturer')['Price'].count().to_csv('../data/text_output/price_zero_by_manufacturer_{}.txt'.format(pd.datetime.now().strftime("%Y-%m-%d %H-%M-%S")))

## Total zero Price by supplier:

In [29]:
df[df.Price==0.0].groupby('supplier')['Price'].count()

supplier
compel     2141
metal       835
sueyasu      13
Name: Price, dtype: int64

## Quantity in blank:

### Note: for the all the blank analysis the aggregation (manufacturer, supplier) doesn't show the same count as there is blank values in both columns

for this i'm using the original dataframe without the transformation of the data to numeric

In [30]:
df2 = pd.read_csv('../data/merged_database/combined.csv'  , index_col=0)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3172: DtypeWarning: Columns (3,4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [31]:
df2.Quantity.isna().sum()

863

## The blank zero Quantity by manufacturer is a long table. So its better to download as excel file:

In [32]:
df2[df2.Quantity.isna()==True].groupby('Manufacturer')['Manufacturer'].count().to_excel('../data/raw_analysis/quantity_blank_by_manufacturer.xlsx')
#Save with timestamp
df2[df2.Quantity.isna()==True].groupby('Manufacturer')['Manufacturer'].count().to_csv('../data/text_output/quantity_blank_by_manufacturer_{}.txt'.format(pd.datetime.now().strftime("%Y-%m-%d %H-%M-%S")))

C:\Users\eppmi\AppData\Local\Temp/ipykernel_11340/2811639711.py:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  df2[df2.Quantity.isna()==True].groupby('Manufacturer')['Manufacturer'].count().to_csv('../data/text_output/quantity_blank_by_manufacturer_{}.txt'.format(pd.datetime.now().strftime("%Y-%m-%d %H-%M-%S")))

## Total Blank Quantity by supplier:

In [33]:
df2[df2.Quantity.isna()==True].groupby('supplier')['supplier'].count()

supplier
polipecas    863
Name: supplier, dtype: int64

## Price in blank:

for this i'm using the original dataframe without the transformation of the data to numeric

In [34]:
df2.Price.isna().sum()

12

## Blank zero Price by manufacturer :

In [35]:
df2[df2.Price.isna()==True].groupby('Manufacturer')['Manufacturer'].count()

Manufacturer
MET4L LEVE    2
S411O         1
bosch         9
Name: Manufacturer, dtype: int64

## Total Blank Price by supplier:

In [36]:
df2[df2.Price.isna()==True].groupby('supplier')['supplier'].count()

supplier
polipecas    9
real         3
Name: supplier, dtype: int64

## Manufacturer in blank:

for this i'm using the original dataframe without the transformation of the data to numeric

In [37]:
df2.Manufacturer.isna().sum()

133

## Total Blank Manufacturer by supplier:

In [38]:
df2[df2.Manufacturer.isna()==True].groupby('supplier')['supplier'].count()

supplier
compel    96
metal     37
Name: supplier, dtype: int64

## Partnumber in blank:

for this i'm using the original dataframe without the transformation of the data to numeric

In [39]:
df2.Partnumber.isna().sum()

69

## Blank zero Partnumber by manufacturer :

In [40]:
df2[df2.Partnumber.isna()==True].groupby('Manufacturer')['Manufacturer'].count()

Manufacturer
 METAL                              2
+METAL - QUALIDADE ORIGINAL 9164    1
ARTEB                               9
DEFABRI                             1
DYNA                                1
FORA DE LINHA                       4
RF                                  8
ZZLIXEIRA                           4
bosch                               9
Name: Manufacturer, dtype: int64

## Total Blank Price by supplier:

In [41]:
df2[df2.Partnumber.isna()==True].groupby('supplier')['supplier'].count()

supplier
metal        38
polipecas     9
rufato       22
Name: supplier, dtype: int64

## Quantity of strings in the field:

In [42]:
print( 'Price: ' +  str(df2["Price"].apply(type).value_counts()[0]) + ' of ' + str(len(df2.Price)))
print( 'Quantity: ' +  str(df2["Quantity"].apply(type).value_counts()[0]) + ' of ' + str(len(df2.Quantity)))

Price: 131060 of 137389
Quantity: 130209 of 137389