In [1]:
#Importing modules
import pandas as pd
import numpy as np

In [2]:
#reading the estoque dataframe
df = pd.read_csv('../data/etl/estoque.csv',index_col=0 )

In [3]:
#Getting repeated keys
keys = df.groupby(['key']).supplier.nunique()
keys = keys[keys>1].keys()

In [4]:
# Copy of dataframe with the repeated keys
df2=df[df['key'].isin(keys)].sort_values(by = 'key')

In [5]:
# Creating a dataframe with the mim price and quantities
min_df = df2.groupby(['key', 'supplier'])['Price','Quantity'].min().unstack()

C:\Users\eppmi\AppData\Local\Temp/ipykernel_27912/2508169433.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  min_df = df2.groupby(['key', 'supplier'])['Price','Quantity'].min().unstack()

In [6]:
print(min_df.head())

           Price                                                   Quantity  \
supplier carbwel ima jahu lucios medauto metal real rufato sueyasu  carbwel
key
0            NaN NaN  NaN    NaN     NaN  9.35  NaN   7.92     NaN      NaN
3rho310    40.83 NaN  NaN  36.05     NaN   NaN  NaN    NaN   35.71      0.0
3rho318      NaN NaN  NaN  58.48     NaN   NaN  NaN    NaN   56.13      NaN
3rho319    62.13 NaN  NaN  41.90     NaN   NaN  NaN    NaN   40.23      0.0
3rho322   126.50 NaN  NaN    NaN     NaN   NaN  NaN    NaN   81.29      0.0


supplier ima jahu lucios medauto metal real rufato sueyasu
key
0        NaN  NaN    NaN     NaN   0.0  NaN    1.0     NaN
3rho310  NaN  NaN   56.0     NaN   NaN  NaN    NaN     0.0
3rho318  NaN  NaN    7.0     NaN   NaN  NaN    NaN     0.0
3rho319  NaN  NaN    8.0     NaN   NaN  NaN    NaN     0.0
3rho322  NaN  NaN    NaN     NaN   NaN  NaN    NaN     0.0

In [7]:
#Creating a dataframe to get only the prices
df_price_min = df2.groupby(by=['key', 'supplier'])['Price'].min().unstack()

In [8]:
# Get a array with the minimun price for each row
price_min = df_price_min.min(axis=1).values

In [9]:
# Start with a empty list for the quantities and other for temporary use
min_q=[]
temp = []
sumed=[]

#Iterate through the range of the min DF
for row in range(len(min_df)):
    #Iterate through each key tuple
    for k in min_df.keys():
        # If the key is 'Price' and the correponding row and price column are equal to the minimum from the price array
        # then append the corresponding supplier row to the temp list 
        if k[0] == 'Price' and min_df['Price'][k[1]][row] == price_min[row]:
            temp.append(min_df['Quantity'][k[1]][row])
    # If there is any value in the temp list get the min and the sum and append to the min_q and sumed lists
    # , then reset the list
    if len(temp) > 0:
            min_q.append(np.min(temp))
            sumed.append(sum(temp))
            temp=[]
    else:
        temp=[]

In [10]:
# Add the col to the dataframe
min_df['sum_min_quantity'] = min_q

In [11]:
min_df

           Price                                                   Quantity  \
supplier carbwel ima jahu lucios medauto metal real rufato sueyasu  carbwel
key
0            NaN NaN  NaN    NaN     NaN  9.35  NaN   7.92     NaN      NaN
3rho310    40.83 NaN  NaN  36.05     NaN   NaN  NaN    NaN   35.71      0.0
3rho318      NaN NaN  NaN  58.48     NaN   NaN  NaN    NaN   56.13      NaN
3rho319    62.13 NaN  NaN  41.90     NaN   NaN  NaN    NaN   40.23      0.0
3rho322   126.50 NaN  NaN    NaN     NaN   NaN  NaN    NaN   81.29      0.0
...          ...  ..  ...    ...     ...   ...  ...    ...     ...      ...
zen13158  245.58 NaN  NaN    NaN     NaN   NaN  NaN    NaN  189.36      0.0
zen13283  201.30 NaN  NaN    NaN     NaN   NaN  NaN    NaN  164.99      0.0
zen13284  146.20 NaN  NaN    NaN     NaN   NaN  NaN    NaN  122.16      0.0
zen13286  186.88 NaN  NaN    NaN     NaN   NaN  NaN    NaN  148.51      0.0
zen15000  116.26 NaN  NaN    NaN     NaN   NaN  NaN    NaN  139.29      0.0

                                                           sum_min_quantity
supplier ima jahu lucios medauto metal real rufato sueyasu
key
0        NaN  NaN    NaN     NaN   0.0  NaN    1.0     NaN              1.0
3rho310  NaN  NaN   56.0     NaN   NaN  NaN    NaN     0.0              0.0
3rho318  NaN  NaN    7.0     NaN   NaN  NaN    NaN     0.0              0.0
3rho319  NaN  NaN    8.0     NaN   NaN  NaN    NaN     0.0              0.0
3rho322  NaN  NaN    NaN     NaN   NaN  NaN    NaN     0.0              0.0
...       ..  ...    ...     ...   ...  ...    ...     ...              ...
zen13158 NaN  NaN    NaN     NaN   NaN  NaN    NaN     0.0              0.0
zen13283 NaN  NaN    NaN     NaN   NaN  NaN    NaN     0.0              0.0
zen13284 NaN  NaN    NaN     NaN   NaN  NaN    NaN     0.0              0.0
zen13286 NaN  NaN    NaN     NaN   NaN  NaN    NaN     0.0              0.0
zen15000 NaN  NaN    NaN     NaN   NaN  NaN    NaN     0.0              0.0

[4686 rows x 19 columns]

In [12]:
min_df.to_csv('../data/etl/fourth_etl.csv')

In [13]:
#Save with timestamp
min_df.to_csv('../data/text_output/fourth_etl{}.txt'.format(pd.datetime.now().strftime("%Y-%m-%d %H-%M-%S")))

C:\Users\eppmi\AppData\Local\Temp/ipykernel_27912/3169794828.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  min_df.to_csv('../data/text_output/fourth_etl{}.txt'.format(pd.datetime.now().strftime("%Y-%m-%d %H-%M-%S")))